* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  margin-top: 50px;
  font-family: sans-serif;
  grid-gap: 30px;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  background: rgba(0, 212, 255, 1);
  background: linear-gradient(
    22deg,
    rgb(143, 222, 238) 0%,
    rgb(107, 107, 214) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  display: grid;
  grid-template-rows: 50px 270px 200px;

  border-radius: 10px;
  box-shadow: 5px 10px 3px 3px lightgrey;
}

/* HERDER */
header {
  display: grid;
  list-style: none;
  grid-template-columns: 180px 30px 30px;
  grid-gap: 10px;

  padding: 10px 15px;
}

img.menu-icon {
  width: 20px;
  align-self: center;
}
img.heart-icon,
img.share-icon {
  width: 20px;
  justify-self: right;
  align-self: center;
}

img.menu-icon:hover,
img.heart-icon:hover,
img.share-icon:hover {
  filter: invert(9%) sepia(1%) saturate(3927%) hue-rotate(334deg)
    brightness(107%) contrast(76%);
}

/* INFO */

.info {
  display: grid;
  color: rgb(0, 0, 0);
  justify-items: center;
  grid-template-rows: 120px 40px 30px 30px 50px;
}

.profile-picture {
  object-fit: cover;
  width: 100px;
  height: 100px;

  border-radius: 50%;
  justify-self: center;

  background: url("assets/image/profile-picture.jpg") no-repeat;
  display: inline-block;
  background-size: cover;
  transition: 0.3s;
}
.profile-picture:hover {
  background: url("assets/image/profile-picture2.jpg") no-repeat;
  display: inline-block;
  background-size: cover;
}

.info h2 {
  font-size: 1rem;
}

.info h3 {
  font-size: 0.9rem;
}

.hire-me-button {
  text-decoration: none;
  color: black;
  width: 150px;
  display: grid;
  justify-content: center;
  align-items: center;

  background: rgb(148, 145, 218);
  background: linear-gradient(
    103deg,
    rgb(181, 178, 235) 0%,
    rgb(97, 78, 163) 80%,
    rgb(76, 22, 146) 100%
  );

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  box-shadow: 3px 3px 5px 1px rgba(20, 20, 90, 0.548);
}

.hire-me-button:hover {
  animation: button-hover 1s linear alternate;
  animation-fill-mode: forwards;
}

@keyframes button-hover {
  20% {
    width: 200px;
  }
  50% {
    width: 150px;
    transform: rotate(5deg);
  }
  55% {
    width: 200px;
  }
  60% {
    width: 200px;
  }
  65% {
    width: 150px;
  }
  70% {
    width: 200px;
    transform: rotate(-5deg);
  }
  75% {
    width: 200px;
  }
  80% {
    width: 150px;
  }
  85% {
    width: 200px;
  }
  90% {
    width: 150px;
  }
  95% {
    width: 200px;
  }
  100% {
    width: 200px;
    font-weight: bolder;
  }
}

/* SOCIAL INFO */
.social-info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 25px;
  padding: 10px 30px;
  justify-content: center;
}

.social {
  display: grid;
  align-items: center;
  justify-items: center;
  color: rgb(70, 70, 70);
  grid-template-rows: 80px 30px 30px;
}

.icon-container {
  width: 50px;
  height: 50px;

  background: rgb(81, 75, 196);
  background: linear-gradient(
    45deg,
    rgb(25, 22, 68) 0%,
    rgba(57, 80, 150, 1) 0%,
    rgba(62, 151, 163, 0.73) 100%
  );

  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.social-icon {
  height: 30px;
  justify-items: center;
  transition: 0.1s;
  filter: invert(99%) sepia(6%) saturate(2%) hue-rotate(204deg) brightness(112%)
    contrast(100%);
}

.icon-container:hover .social-icon {
  filter: invert(99%) sepia(71%) saturate(1704%) hue-rotate(334deg)
    brightness(113%) contrast(101%);

  transform: scale(1.2);
}

.social h2 {
  font-size: 1.2rem;
}
.social p {
  font-size: 0.8rem;
}
